server:
  port: 8080

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:h2:mem:authdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ${JWT_SECRET:bXlTdXBlclNlY3VyZVNlY3JldEtleU15U3VwZXJTZWNyZXJLZXk=}
  expiration: 3600000
