spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - AddRequestHeader=Authorization, "#{request.headers.Authorization}"

jwt:
  secret: ${JWT_SECRET:bXlTdXBlclNlY3VyZVNlY3JldEtleU15U3VwZXJTZWNyZXJLZXk=}